.Searchbox{
    width: 568px;
    height: 48px;
    background-color: azure; 
    border-radius: 10px;
   border: 1px solid black;
   display:flex;
   justify-content: center;
}

.Button{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    padding-bottom: 4px;
   border-left: 1px solid black;
}
